<style>
    @import url('https://fonts.googleapis.com/css2?family=Allura&family=Ubuntu:wght@300;400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
  </style>
  
  <section id="header">
        <h1> River Valley Artist Collective</h1>
        <div class="navBar">
            <a (click)="scrollToAEC('AEC')">Audrey E. Ceramics</a>
            <a (click)="scrollToCT('CT')">Clay Tooth</a>
            <a (click)="scrollToGMC('GMC')">GMCPottery</a>
            <a (click)="scrollToMM('MM')">Moss and Mist</a>
            <a (click)="scrollToNM('NM')">Nae Makes</a>
            <a (click)="scrollToSB('SB')">Squeakybunny</a>
            <a (click)="scrollToUC('UC')">Upstream Creations</a>
        </div>
    </section>
    <section id="body">
        <div id="Events">

        </div>
        <div id="Artists">
       
        <div class="artist" id="AEC">
            <img src="" alt="identifyingImage">
            <h2 class="businessName">Audrey E. Ceramics</h2>
            <h4 class="birthName">By: Audrey Patrick</h4>
            <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis culpa quas voluptatibus nulla suscipit? Enim, blanditiis commodi possimus laborum iusto quibusdam placeat. Itaque iusto odit ipsum consectetur iure deserunt? Quos?</p>
            <a class="website"></a>
            <a class="socials"></a>
            <a class="email">aepatrick99&#64;gmail.com</a>
        </div>
        <div class="artist" id="CT">
            <img src="" alt="identifyingImage">
            <h2 class="businessName">Clay Tooth</h2>
            <h4 class="birthName">Caroline Bouwense</h4>
            <p class="bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus voluptas quidem recusandae omnis facere quaerat corrupti? Iusto non cum dolorum unde, amet temporibus explicabo doloribus, quae nulla, reiciendis inventore.</p>
            <a class="website"></a>
            <a class="socials"></a>
            <a class="email">connect&#64;claytooth.com</a>
        </div>
        <div class="artist" id="GMC">
            <img src="" alt="identifyingImage">
            <h2 class="businessName">GMCPottery</h2>
            <h4 class="birthName">Gabby Ciccantelli</h4>
            <p class="bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus voluptas quidem recusandae omnis facere quaerat corrupti? Iusto non cum dolorum unde, amet temporibus explicabo doloribus, quae nulla, reiciendis inventore.</p>
            <a class="website"></a>
            <a class="socials"></a>
            <a class="email">gmcpottery&#64;gmail.com</a>
        </div>
        <div class="artist" id="MM">
            <img src="" alt="identifyingImage">
            <h2 class="businessName">Moss and Mist</h2>
            <h4 class="birthName">Kim Hayslip</h4>
            <p class="bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus voluptas quidem recusandae omnis facere quaerat corrupti? Iusto non cum dolorum unde, amet temporibus explicabo doloribus, quae nulla, reiciendis inventore.</p>
            <a class="website"></a>
            <a class="socials"></a>
            <a class="email">Kimhayslip&#64;sbcglobal.net</a>
        </div>
        <div class="artist" id="NM">
            <img src="" alt="identifyingImage">
            <h2 class="businessName">Nae Makes</h2>
            <h4 class="birthName">Linnae Caurdy</h4>
            <p class="bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus voluptas quidem recusandae omnis facere quaerat corrupti? Iusto non cum dolorum unde, amet temporibus explicabo doloribus, quae nulla, reiciendis inventore.</p>
            <a class="website"></a>
            <a class="socials"></a>
            <a class="email"></a>
        </div>
        <div class="artist" id="SB">
            <img src="" alt="identifyingImage">
            <h2 class="businessName">Squeakybunny</h2>
            <h4 class="birthName">Natasha Karambelas</h4>
            <p class="bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus voluptas quidem recusandae omnis facere quaerat corrupti? Iusto non cum dolorum unde, amet temporibus explicabo doloribus, quae nulla, reiciendis inventore.</p>
            <a class="website"></a>
            <a class="socials"></a>
            <a class="email">Natasha.Karambelas&#64;gmail.com</a>
        </div>
        <div class="artist" id="UC">
            <img src="" alt="identifyingImage">
            <h2 class="businessName">Upstream Creations</h2>
            <h4 class="birthName">Allison Jones</h4>
            <p class="bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ducimus voluptas quidem recusandae omnis facere quaerat corrupti? Iusto non cum dolorum unde, amet temporibus explicabo doloribus, quae nulla, reiciendis inventore.</p>
            <a class="website"></a>
            <a class="socials"></a>
            <a class="email">UpstreamPottery&#64;gmail.com</a>
        </div>
             
    </div>

    </section>
